/* Sets default font-family for all elements and padding for the body element */
* {
  font-family: 'Courier New', Courier, monospace;
}

  body {
    padding: 20px;
  }

  /* Formats div containers to help center content and provide adequate spacing */
  #container {
    display: block;
    width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
  }

  #questionsDiv {
    text-align: center;
    font-size: 35px;
    margin-right: 150px;
    width: 500px;
  }

  /* Formats div container for "Correct!" and "Wrong!" alerts */
  #createDiv {
    margin-top: 15px;
    border-top: 2px solid plum;
  } 

  /* Formats the "Start Quiz" button */
  #startTime {
    padding: 15px 32px;
    font-size: 20px;
  }
  
  /* Formats the timer position and font-size */
  #currentTime {
    float: right;
    font-size: 20px;
  }


  /* General formatting for h1, p, and li elements */
  h1 {
    text-align: center;
    font-size: 40px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  li {
    background-color: darkcyan;
    margin-top: 10px;
    padding: .5rem 1rem;
    width: 80%;
    font-size: 2rem;
    color: white;
    border-radius: .5rem;
    font-weight: 400;
  }

  /* Formats "View Highscores" link */
  .scores {
    text-decoration: none;
    padding: 15px;
    margin-right: 50px;
  }

  /* Formats all button elements; additional formatting to "View Highscores" link */
  button, .scores {
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
  }

  /* Formats the input data field for user to enter initials */
  input {
    width: 15rem;
    height: 2rem;
    border: 1px solid plum;
    border-radius: 8px;
    background-color: darkcyan;
    opacity: 50%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Formats li, button, and input elements, and "View Highscores" link with a hover pseudo-class */
  li:hover, .scores:hover, button:hover, input:hover {
    background-color: plum;
    transition: 2s;
  }

  /* Formats the "Submit", "Go Back", and "Clear Highscores" buttons */
  #submit {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
  }

  #goBack {
    padding: 10px;
    text-decoration: none;
  }
  
  #clear {
    padding: 10px;
    text-align: center;
  }
  